---

// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layout/MainLayout.astro";

---

<MainLayout title="Page Not Found">
    <div class="container" 
    style={{
        display: "grid",
        placeItems: "center",
        textAlign: "center",
        gap: "var(--space-sm)",
    }}
    >
    <div>
        <h1 class="h1">Ooops, shhhe, this is awkward!</h1>
        <p>we seem to have misplaced something</p>
    </div>
    <Link 
        href="/" 
        style="secondary" 
        text="Go Home" 
        icon={{
            name: "tabler:home",
            side: "right",
    }}/>
    </div>
</MainLayout>