---

// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layout/MainLayout.astro";

---

<MainLayout title="About" description="My about Page">
    <section class="container about" aria-label="About Me">
        <img src="/images/headshot.jpg" 
        alt="My headshot" 
        width="200" 
        height="330">
    </section>
    <div class="content">
        <h1 class="h1">My blog</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit maiores modi beatae culpa esse. Nulla suscipit perspiciatis consequatur a qui doloremque saepe debitis facere cum asperiores alias ullam quos itaque, deserunt minima ad iste facilis veritatis aspernatur quia repellendus vel!
        </p>
        <Link href="mailto:shaheer@shaheershakir.me"
        style="primary"
        text="Contact me"
        />
    </div>
</MainLayout>
  
