---
//conponent imports
import MainHead from './MainHead.astro';
import Footer from '../components/Footer.astro';

//styles import
import '../styles/global.css'
import Nav from '../components/Nav.astro';

const {
    title = "My astro Blog",
     description = "This is my blog"
     } = Astro.props;
---

<html lang="en">
     <MainHead {title} {description} />
	<body>
        <Nav />
        <main>
            <slot>
                Default content
            </slot>
        </main>
        <Footer />
	</body>
</html>